<div class="container mx-auto px-[200px] pt-5">
    <div class="grid grid-cols-3 gap-4 justify-items-center">
        <template x-data="{articles: item}" x-for="article in articles">
        <a  :href="'/blog/'+article.id" class="card bg-base-200 w-[351px] border border-[#2A2E5E] hover:border-indigo-700 hover:duration-300 shadow-xl">
            <figure>
                <img :src="article.thumbnail" alt="Placeholder" />
            </figure>
            <div class="card-body">
                <h2 class="card-title" x-text="article.title"></h2>
                <p x-text="article.author"></p>
                <div class="card-actions justify-end">
                    <div class="badge badge-outline">Tag</div>
                    <div class="badge badge-outline">Tag</div>
                </div>
            </div>
        </a>
        </template>
    </div>
</div>