<div class="section catalog">
    <div class="catalog__center center">
        <div class="catalog__group">
            <template x-data="{articles: item}" x-for="article in articles">
            <a class="card" :href="'/blog/'+article.id">
                <div class="card__preview"><img :src="article.thumbnail" alt="Card preview">
                </div>
                <div class="card__body">
                    <div class="card__avatar"></div>
                    <div class="card__details">
                        <div class="card__title" style="color: white;" x-text="article.title"></div>
                        <div class="card__author" x-text="article.author"></div>
                    </div>
                    <div class="category-stroke-green card__status">Tag</div>
                </div>
            </a>
            </template>
        </div>
    </div>
</div>