<div
  x-data="{
        searchQuery: '',
        items: [
            'Milano', 'Alicante', 'Switzerland', 'Bilbao', 'Åland Islands', 'Stockholm', 'Torrevieja', 'Minneapolis'
        ].map(item => ({ name: item }))
    }">
  <!-- Search Input -->
  <input
    type="text"
    x-model="searchQuery"
    placeholder="Search..."
  />

  <!-- Filtered Items -->
  <ul >
    <template
      x-for="item in items"
      :key="item.name">
      <li
        x-show="item.name.toLowerCase().includes(searchQuery.toLowerCase())"
        x-text="item.name">
      </li>
    </template>
  </ul>
</div>