<div class="overflow-x-auto">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <template x-data="{articles: item}" x-for="article in articles">
            <tr>
                <th x-text="article.id"></th>
                <td x-text="article.title"></td>
                <td x-text="article.author"></td>
                <td x-text="article.updated_at"></td>
                <td><a :href="'/settings/blog/'+article.id">View</a></td>
            </tr>
            </template>
        </tbody>
    </table>
</div>
