<div class="crypto__table">
    <style>
    .crypto__col {
        color: #ffff !important;
        border-top: 1px solid  #23262F !important;
        text-align: left !important;
    }
    .crypto__col_link {
        color: #ffff !important;
        cursor: pointer;
    }
    </style>
    <div class="crypto__row">
        <div class="crypto__col">
            <div class="sorting">#</div>
        </div>
        <div class="crypto__col">
            <div class="sorting">Title</div>
        </div>
        <div class="crypto__col">
            <div class="sorting">Author</div>
        </div>
        <div class="crypto__col">Created</div>
        <div class="crypto__col">Action</div>
    </div>
    <template x-data="{articles: item}" x-for="article in articles">
    <div class="crypto__row" style="border: none;">
        <div class="crypto__col">
            <div class="crypto__line">
                <span>1</span>
            </div>
        </div>
        <div class="crypto__col" x-text="article.title"></div>
        <div class="crypto__col" x-text="article.author"></div>
        <div class="crypto__col" x-text="article.updated_at"></div>
        <div class="crypto__col"><a class="crypto__col_link" :href="'/settings/blog/'+article.id">View</a></div>
    </div>
    </template>
</div>