<div class="crypto__table">
    <style>
    .crypto__col {
        color: #ffff !important;
        border-top: 1px solid  #23262F !important;
        text-align: left !important;
    }

    </style>
    <div class="crypto__row">
        <div class="crypto__col">
            <div class="">#</div>
        </div>
        <div class="crypto__col">
            <div class="">Edit</div>
        </div>
        <div class="crypto__col">
            <div class="">Read</div>
        </div>
        <div class="crypto__col">
            <div class="">Create</div>
        </div>
        <div class="crypto__col">
            <div class="">Delete</div>
        </div>
    </div>
    <template x-data="{permissions: item, test: 12}" x-for="(permission, index) in permissions">
        <div class="crypto__row" style="border: none;">
            <div class="crypto__col" style="text-transform: capitalize;" x-text="index"></div>
            <template x-for="(perm, key) in permission">
                <div class="crypto__col" style="text-align: center;">
                    <template x-if="perm==true">
                        <div>
                            <span @click="perm=false">✅</span>
                            <input type="hidden" :name="'permissions' + '->' +index + '->' + key" value="true">
                        </div>
                    </template>
                    <template x-if="perm==false">
                        <div>
                            <span @click="perm=true">❌</span>
                            <input type="hidden" :name="'permissions' + '->' +index + '->' + key" value="false">
                        </div>
                    </template>
                </div>
            </template>
        </div>
    </template>
</div>
<button style="float: right; border-radius: 5px;" class="button-stroke button-small header__button" type="submit">Submit</button>