<div>
    <h3 class="text-capitalize">informations</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row"><span class="text-capitalize" x-text="item.id" /></td>
                <td><span class="text-capitalize" x-text="item.name" /></td>
                <td>
                    <a x-data="{url: '/policies/' + item.name + '/edit'}" :href="url">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>